div {
	background-color: #2707f1;
}

h1 {
	font-size: 64px;
	font-family: 'Roboto', sans-serif;
	color: #f90000;
	margin-top: 60px;

}

button {
	padding: 20px 30px;
	border-radius: 10px;
	border: none;
	background-color: #cebf39;
	font-size: 16px;

}

p {
	font-size: 20px;
	color: #f2e5e5;
	margin: 20px;
	letter-spacing: 3px;
	
}